/*****************base.css*****************/
/**
 * name:c-color
 * des:定义常用颜色
 */
$c-333:#333;
$c-666:#666;
$c-999:#999;
$c-ccc:#ccc;
$c-fff:#fff;
$c-976a01:#976a01;
$c-c8a556:#c8a556;
$c-412f07:#412f07;
$c-373373:#373373;
$c-f5f5f5:#f5f5f5;
$c-e5e5e5:#e5e5e5;$c-000:#000;


/**
* name:fs-fontSize
* des:定义文字大小,字号从12到60，偶数间隔
*/
@for $i from 1 through 25 {
  .fs-#{2*$i+10} {
    font-size:2px*$i+10px;
  }
}

/**
 * name:h-height
 * des:定义常见高度
 * 
 */
$h-40:40px;		/*h-40:列表页面灰色间隔*/
$h-88:88px;		/*h-90:列表行高*/
$h-90:90px;		/*h-90:列表行高*/
$h-100:100px;	/*h-100:一行内容列表高度,按钮的容器高度*/
$h-120:120px;	/*h-120:两行内容列表高度*/


/**
* 绝对定位/固定定位
* position:absolute/fixed;
* 注意left,right,top,bottom传值时使用key:value的形式
* eg:@include position(absolute,$right:100px,$bottom:10px );
*/
@mixin position($position, $left:auto, $right:auto, $top:auto, $bottom:auto){
	position: $position;	
	top:$top;
	right:$right;
	bottom: $bottom;
	left:$left;
}
.relative{
  position:relative;
}
/*
* 定义元素的display类型
*/
@each $type in none,block,inline,inline-block,table,table-cell {
  .j-#{$type} {
    display:$type;
  }
}

/**
* 文本水平方向对齐方式
* 使用场景：元素除对齐方式外，还需要其他样式
* 通过include引入
* @include ta($left)
*/
@each $align in left,right,center,justify {
  .j-#{$align} {
    text-align:$align;
  }
}


/**
* 圆角
* eg:@include b-r(5px);
*/
@mixin border-radius($radius){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius: $radius;
}

/**
* 径向渐变
* eg: @include linear-gradient(top,#ff33cc,#cccccc);
*/
@mixin linear-gradient($dir,$startColor,$endColor){
	background: -webkit-linear-gradient(to $dir,$startColor,$endColor);
	background: -moz-linear-gradient(to $dir,$startColor,$endColor);
	background: linear-gradient(to $dir,$startColor,$endColor);
}

/**
* 阴影
* eg:@include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
*/
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

/**
* 一线穿
* 左右是一条横线，中间可以是文字，或者小图片
*/
@mixin u-cross-line($color:$c-e5e5e5,$background-color:#fff) {
  border-bottom: 1px solid $color;
  text-align: center;
  span {
    display: inline-block;
    padding: 0 20px;
    background: $background-color;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    transform: translateY(50%);
  }
}

@mixin u-cross-line-after($color:$c-e5e5e5,$background-color:#fff){
  position: relative;
  text-align: center;
  span {
    position:relative;
    padding:0 20px;
    z-index:999;
    background: $background-color;
  }
  &:after {
    z-index:1;
    @include position(absolute,$left:0,$top:49%);
    content: '';
    width:100%;
    height: 1px;
    background: $color;
  }
}

/**
* li个性化图标
*/
@mixin  li-image($url,$position,$size){
  @extend .ul-info-box;
  li{
    list-style: none;
    background: url($url) no-repeat $position;
    background-size: $size;
  }
}








